.FrontPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #404040;
    font-family: 'Poppins', sans-serif;
}

.welcomeAndUpdates {
    margin: 0px, 20px;
    padding: 15px 50px;
    width: 65%;
}

.FrontPageMessages {
    width: 35%;
    padding: 10px 50px;
    background-color: rgb(255, 220, 206);
    border-left: 1px solid #404040;
}

.singleMessage {
    border-bottom: 1px solid #404040;
    width: 100%;
    padding: 5px 10px;
    margin: 5px;
    font-size: small;
}

.deleteMessage {
    float: right; 
}

.singleMessage2 {
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: small;
    box-shadow: 2px 2px 2px gray;
    background-color: lightyellow;
}

.FrontPageAdminUpdates {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #404040;
}

.FrontPage {
   border-top: 1px solid #404040; 
}

.messageTitle {
    font-weight: bold;
}
