.birds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bird {
    width: 15rem;
    height: 30rem;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #bc3a72;
    border-radius: 5px;
    background-color: rgb(244, 241, 229);
    font-family: 'Poppins', sans-serif;
}

.bird_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    margin: 5px 10px 5px 5px;
    width:10rem;
    height: 10rem;
    border: 0.5px solid black;
    border-radius: 5px
}

.btn-group {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: auto;
}

